In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\python311\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\python311\lib\site-packages (from scikit-learn) (1.25.1)
Requirement already satisfied: scipy>=1.5.0 in c:\python311\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\python311\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python311\lib\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np 
import pandas as pd 
from sklearn import preprocessing

In [55]:
#Load the dataset
df = pd.read_csv('Student.csv')
print('Original dataset:')
df

Original dataset:

   STUID   AGE     GRADE   GENDER EMPLOYED
0      1    18  1st class    MALE      YES
1      2    19  2nd class  FEMALE      NO
2      3    20  1st class    MALE      YES
3      4    20  1st class  FEMALE      YES
4      5    19  2nd class    MALE      NO

In [57]:
#Identify categorical data
df_cat = df.select_dtypes(include=['object'])
df_cat

      GRADE   GENDER EMPLOYED
0  1st class    MALE      YES
1  2nd class  FEMALE      NO
2  1st class    MALE      YES
3  1st class  FEMALE      YES
4  2nd class    MALE      NO

In [64]:
#Apply label encoding to those columns with a for loop
label_encoder = preprocessing.LabelEncoder()
for columns in df_cat:
    df_cat[columns] = label_encoder.fit_transform(df[columns])
df_cat

   GRADE   GENDER  EMPLOYED
0       0       1         1
1       1       0         0
2       0       1         1
3       0       0         1
4       1       1         0