In [1]:
import pandas as pd

In [12]:
df=pd.DataFrame ({"X":[1.8,1.5,2.1,2.4,0.2], "Y":[2.5,4.3,4.5,4.1,2.2]}) 
print(df)

     X    Y
0  1.8  2.5
1  1.5  4.3
2  2.1  4.5
3  2.4  4.1
4  0.2  2.2

In [15]:
#co-variance
df["X"].cov(df["Y"])

0.6299999999999999

In [16]:
df.cov()

       X      Y
X  0.725  0.630
Y  0.630  1.172

In [17]:
#cor-relation
df.corr()

          X         Y
X  1.000000  0.683452
Y  0.683452  1.000000

In [18]:
df["X"].corr(df["Y"])

0.6834515618717786